@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jost: var(--font-jost);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-jost) !important;
}

.ant-menu,
.ant-table,
.ant-breadcrumb,
.ant-page-header-heading-title,
.ant-typography,
.ant-layout,
.ant-layout-content,
.ant-layout-header,
.ant-layout-footer,
.ant-btn,
.ant-input,
.ant-dropdown-menu,
.ant-menu,
.ant-typography,
.ant-breadcrumb,
.ant-select,
.ant-select-selector,
.ant-select-selection-item,
.ant-select-selection-placeholder,
.ant-select-dropdown,
.ant-select-item-option-content,
.ant-upload,
.ant-upload-text,
.ant-upload-hint,
.ant-upload-drag,
.ant-upload-drag-icon,
.ant-upload-drag-text,
.ant-upload-drag-hint,
.ant-checkbox-wrapper,
.ant-radio-wrapper
/* label,
span,
p,
div  */ {
  font-family: var(--font-jost) !important;
}
